version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=akademi_db
      - POSTGRES_USER=akademi_user
      - POSTGRES_PASSWORD=akademi_password
    ports:
      - "5433:5432"
    networks:
      - akademi_network

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    networks:
      - akademi_network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.9
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9201:9200"
    networks:
      - akademi_network

  minio:
    image: minio/minio
    ports:
      - "9002:9000"
      - "9003:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - akademi_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8001:8000"
    environment:
      - DEBUG=1
      - SECRET_KEY=dev_secret_key
      - DATABASE_URL=postgres://akademi_user:akademi_password@db:5432/akademi_db
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - AWS_STORAGE_BUCKET_NAME=akademi-bucket
      - AWS_S3_ENDPOINT_URL=http://minio:9000
    depends_on:
      - db
      - redis
      - minio
    networks:
      - akademi_network

  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: tail -f /dev/null # celery -A config worker -l info
    volumes:
      - ./backend:/app
    environment:
      - DEBUG=1
      - SECRET_KEY=dev_secret_key
      - DATABASE_URL=postgres://akademi_user:akademi_password@db:5432/akademi_db
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - AWS_STORAGE_BUCKET_NAME=akademi-bucket
      - AWS_S3_ENDPOINT_URL=http://minio:9000
    depends_on:
      - db
      - redis
      - backend
      - minio
    networks:
      - akademi_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3005:3000"
    environment:
      - VITE_API_URL=http://localhost:8001
    depends_on:
      - backend
    networks:
      - akademi_network

networks:
  akademi_network:
    driver: bridge

volumes:
  postgres_data:
  minio_data:
